<p id="notice"><%= notice %></p>
 
 <p>
   <b>Author:</b>
   <%= @comment.author %>
 </p>
 
 <p>
   <b>Email:</b>
   <%= @comment.email %>
 </p>
 
 <p>
   <b>Message:</b>
   <%= @comment.message %>
 </p>
